<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>Panacea@ Inventory Purchase List</title>
		<link rel="stylesheet"  type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"  integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"  crossorigin="anonymous" />
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	</head>
	
	<body>
		<div th:replace="Inventory/fragments/SuperNavbar">This content will be gone</div>
		<div class="container">
		
		  <div class="container my-3 bg-light">
			<h3 class="col-md-12 text-center">Purchase List:Inventor Management System</h3>
			</div>
			
			<div class="container my-3 bg-light">
		        <div class="col-md-12 text-center">
		            <a th:href="@{/addPurchaseForm}" class="btn btn-primary">Add Purchase</a>
		            <a th:href="@{/UserHome}" class="btn btn-warning">Back Home</a>
		        </div>
		    </div>
					
			<hr/>
				
			<table class="table table-bordered table-striped" id="purchaseTable">
			
				<thead>
					<tr>					    
						<th>Purchase ID</th>
						<th>Purchase Date</th>
						<th>Remarks</th>
						<th>Comments</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="purchase: ${PurchaseList}">
						<td th:text="${purchase.PurchaseId}" />
						<td th:text="${purchase.Orderdate}" />
						<td th:text="${purchase.Remarks}" />
						<td th:text="${purchase.Comments}" />
						<td>
							<a th:href="@{/showUpdatePurchaseForm(PurchaseId=${purchase.PurchaseId})}" class="btn btn-info">View</a>
							<a th:href="@{/RejectPurchaseOrder(PurchaseId=${purchase.PurchaseId})}" class="btn btn-danger ml-2">Reject</a>
						</td>
					</tr>
				</tbody>
				
			</table>
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
		<script>
			$(document).ready(function() {
				$("#purchaseTable").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-1] /* 1st one, start by the right */
    				}]
				});
			})
		</script>
		<div th:replace="Inventory/footer :: footer">&copy; </div>
	</body>
	
</html>