<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>Panacea@ Inventory Purchase List</title>
		<link rel="stylesheet"  type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"  integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"  crossorigin="anonymous" />

	</head>
	
	<body>
		
		<div class="container">
		
		  <div class="container my-3 bg-light">
			<h3 class="col-md-12 text-center">Disburse List:Inventor Management System</h3>
			</div>
			
			<div class="container my-3 bg-light">
		        <div class="col-md-12 text-center">
		            <a th:href="@{/addDisburseForm}" class="btn btn-primary">Add Disburse</a>
		            <a th:href="@{/UserHome}" class="btn btn-warning">Back Home</a>
		        </div>
		    </div>
					
			<hr/>
				
			<table class="table table-bordered table-striped" id="purchaseTable">
			
				<thead>
					<tr>					    
						<th>Disburse ID</th>
						<th>Disburse Date</th>
						<th>Remarks</th>
						<th>Comments</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="Disburse: ${disburseList}">
						<td th:text="${Disburse.DisburseId}" />
						<td th:text="${Disburse.Orderdate}" />
						<td th:text="${Disburse.Remarks}" />
						<td th:text="${Disburse.Comments}" />
						<td>
							<a th:href="@{/showUpdatePurchaseForm(DisburseId=${Disburse.DisburseId})}" class="btn btn-info">Update</a>
							<a th:href="@{/RejectPurchaseOrder(DisburseId=${Disburse.DisburseId})}" class="btn btn-danger ml-2">Reject</a>
						</td>
					</tr>
				</tbody>
				
			</table>
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
		<script>
			$(document).ready(function() {
				$("#purchaseTable").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-1] /* 1st one, start by the right */
    				}]
				});
			})
		</script>
		<div th:replace="Inventory/footer :: footer">&copy; </div>
	</body>
	
</html>