<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>Panacea@ Accounting Transaction List</title>
		<link rel="stylesheet"  type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"  integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"  crossorigin="anonymous" />

	</head>
	
	<body>
		
		
			<div class="container my-3 bg-light">
			<h3 class="col-md-12 text-center">Inventory Requisition Details  </h3>
			</div>
			
			<div class="container my-3 bg-light">
		        <div class="col-md-12 text-center">
		            <a th:href="@{/BacktoPurchaseList}" class="btn btn-warning">Back to List</a>
		        </div>
		    </div>
		    
		    
		    <div class="container">
		    
		    
		<hr/>
		
		<table class="table table-bordered table-striped" id="productTable">
			
				<thead>
					<tr>
						<th>Product</th>
						<th>No of Item</th>
						<th>Purpose</th>	
						<th>Narration</th>						
						<th>Edit</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="Requisition: ${RequsitionDetailsList}">
						<td th:text="${Requisition.ProductCode}" />
						<td th:text="${Requisition.NoOfItem}" />
						<td th:text="${Requisition.Purpose}" />
						<td th:text="${Requisition.Narration}" />
						
						<td>
							<a th:href="@{/ViewFromRequisitionList(BranchCode=${Requisition.BranchCode},ReqDate=${Requisition.ReqDate},ReqSL=${Requisition.ReqSL},ProductCode=${Requisition.ProductCode})}" class="btn btn-info">View </a>
							<a th:href="@{/RemoveFromRequisitionList(BranchCode=${Requisition.BranchCode},ReqDate=${Requisition.ReqDate},ReqSL=${Requisition.ReqSL},ProductCode=${Requisition.ProductCode})}" class="btn btn-info">Remove </a>
							
						</td>
					</tr>
				</tbody>
				
			</table>
			
			<hr/>
			
			
			
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
		<script>
			$(document).ready(function() {
				$("#productTable").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-1] /* 1st one, start by the right */
    				}]
				});
			})
		</script>
	</body>
	
</html>