<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>ULMS @Unit Leave Management System</title>
 <link rel="stylesheet"  type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"  integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"  crossorigin="anonymous" />
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
		<div th:replace="HRM/fragments/SuperNavbar">This content will be gone</div>

	<div class="container">
		<hr />
		<div class="container my-3 bg-light">
			<h3 class="col-md-12 text-center">Personal Information</h3>
		</div>
		<hr />

		<form th:action="@{/saveEmployee}" th:object="${Employee}" method="POST">
		
		<div class="row">
				<div class="col">
					Employee Id: <input type="text" th:field="*{EmployeeId}"
						class="form-control col-8 mb-8" placeholder="Employee ID " />
				</div>
				<div class="col">
					 Name: <input type="text" th:field="*{EmployeeName}"
						class="form-control col-8 mb-8" placeholder=" Name" />
				</div>
				<div class="col">
					Fathe's Name: <input type="text" th:field="*{FatherName}"
						class="form-control col-8 mb-8" placeholder="Father's Name" />
				</div>
				<div class="col">
					Mother's Name: <input type="text" th:field="*{MotherName}"
						class="form-control col-8 mb-8" placeholder="Mother's Name" />
				</div>
				
			</div>

			<div class="row">
				<div class="col">
					Designation: <select th:field="*{Designation}"
						class="form-control col-8 mb-8">
						<option th:each="optionType : ${DesignationList}"
							th:value="${optionType.RankId}"
							th:text="${optionType.RankDescription}" class="form-control col-4 mb-4">
					</select>

				</div>
				
				<div class="col">
					Gender: <select th:field="*{Gender}"
						class="form-control col-8 mb-8">
						<option th:each="optionType : ${GenderList}"
							th:value="${optionType.typeKey}"
							th:text="${optionType.typeValue}" class="form-control col-4 mb-4">
					</select>

				</div>
				<div class="col">
					Blood Group : <select th:field="*{bloodGrgp}"
						class="form-control col-8 mb-8">
						<option th:each="optionType : ${BloodgroupList}"
							th:value="${optionType.GroupId}"
							th:text="${optionType.GroupDesc}" class="form-control col-4 mb-4">
					</select>

				</div>
					
			</div>
			
			<div class="row">
				
				
				
				<div class="col">
					Date of Birth: <input type="date" th:field="*{dob}"
						class="form-control col-8 mb-8" placeholder="DOB" />
	
				</div>
				
				<div class="col">
					Date of Join: <input type="date" th:field="*{JoinDate}"
						class="form-control col-8 mb-8" placeholder="Join Date" />
	
				</div>
				
				
				<div class="col"></div>
										
			</div>
			<hr>
			
			<div class="row">
				<div class="col">
					Email Address: <input type="text" th:field="*{EmailAddress}"
						class="form-control col-8 mb-8" placeholder="Email Address" />
				</div>
				<div class="col">
					Mobile No: <input type="text" th:field="*{MobileNo}"
						class="form-control col-8 mb-8" placeholder=" Mobile No" />
				</div>
				<div class="col">
					Home District: <input type="text" th:field="*{HomeDistrict}"
						class="form-control col-8 mb-8" placeholder="District" />
				</div>
				
			</div>
			
			


			<div class="row">
			
			</div>

			<hr />
			<br>


			<div class="container my-3 bg-light">
				<div class="col-md-12 text-center">
					<button type="submit" class="btn btn-primary">Submit</button>
					<a th:href="@{/EmployeeList}" class="btn btn-warning">Cancel</a>
				</div>
			</div>


		</form>
		<hr />

	</div>


</body>
</html>