<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>ULMS @Unit Leave Management System</title>
 <link rel="stylesheet"  type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"  integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"  crossorigin="anonymous" />
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
		<div th:replace="HRM/fragments/SuperNavbar">This content will be gone</div>

	<div class="container">
		<hr />
		<div class="container my-3 bg-light">
			<h3 class="col-md-12 text-center">Salary Basic & Others Allawance Information</h3>
		</div>
		<hr />

		<form th:action="@{/saveEmployeeDeduction}" th:object="${EmployeeDeduction}" method="POST">
		             <input type="hidden" th:field="*{EmployeeId}"  >

		<div class="row">
		
				<div class="col">
					Provident Fund
				</div>
				<div class="col">
					 <input type="text" th:field="*{providentFund}" class="form-control col-8 mb-8" />
				</div>
				
				<div class="col">
					Or  Provident Fund(%)
				</div>
				<div class="col">
					 <input type="text" th:field="*{providentFundPct}" class="form-control col-8 mb-8" />
				</div>
				
			</div>

			<div class="row">
				<div class="col">
					Income Tax
				</div>
				<div class="col">
					 <input type="text" th:field="*{incomeTax}" class="form-control col-8 mb-8" />
				</div>
				
				<div class="col">
					Loan Payment(If Any)
				</div>
				<div class="col">
					 <input type="text" th:field="*{loanRepayment}" class="form-control col-8 mb-8" />
				</div>
					
			</div>
			
			<div class="row">
				
				<div class="col">
					Revenue Stamp
				</div>
				<div class="col">
					 <input type="text" th:field="*{Revenue}" class="form-control col-8 mb-8" />
				</div>
				
				<div class="col">
					Others Deduction
				</div>
				<div class="col">
					 <input type="text" th:field="*{OtherDed}" class="form-control col-8 mb-8" />
				</div>
										
			</div>
			<hr>
			

			<div class="row">
			
			</div>

			<hr />
			<br>


			<div class="container my-3 bg-light">
				<div class="col-md-12 text-center">
					<button type="submit" class="btn btn-primary">Submit</button>
					<a th:href="@{/EmployeeList}" class="btn btn-warning">Cancel</a>
				</div>
			</div>


		</form>
		<hr />

	</div>


</body>
</html>