<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
    <meta charset="UTF-8"/>
    <title>Panacea@Employee Management System</title>

   <link rel="stylesheet"  type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"  integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"  crossorigin="anonymous" />
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
	
	<body>
		<div th:replace="HRM/fragments/SuperNavbar">This content will be gone</div>

		<div class="container">
		
		
		<div class="container my-3 bg-light">
			<h3 class="col-md-12 text-center">Employee Dahboard</h3>
			</div>
			
			<div class="container my-3 bg-light">
		        <div class="col-md-12 text-center">
		           <a th:href="@{/AddEmployee}" class="btn btn-primary"><i class="fa fa-plus">Add</i></a>
		            <a th:href="@{/UserHome}" class="btn btn-info"><i class="fa fa-arrow-left">Back</i></a>
		        </div>
		    </div>
					
			<hr/>
			
			<table class="table table-bordered table-striped" id="productTable">
			
				<thead>
					<tr>
						<th>Employee ID</th>
						<th>Employee Name</th>
						<th>Mobile No</th>
						<th>Action</th>
						
					</tr>
				</thead>
				<tbody>
					<tr th:each="employee: ${EmployeeList}">
						<td th:text="${employee.EmployeeId}" />
						<td th:text="${employee.EmployeeName}" />
						<td th:text="${employee.MobileNo}" />
																		
						<td>
						
							<a th:href="@{/showUpdateEmployeeForm(EmployeeId=${employee.EmployeeId})}" class="btn btn-secondary"> <i class="fa fa-edit" >Edit</i></a>
							<a th:href="@{/showUpdateEmployeeForm(EmployeeId=${employee.EmployeeId})}" class="btn btn-primary"><i class="fa fa-money" >Allawance</i></a>
							<a th:href="@{/showUpdateEmployeeForm(EmployeeId=${employee.EmployeeId})}" class="btn btn-danger"><i class="fa fa fa-minus" >Deduction</i></a>

						</td>
						
					</tr>
				</tbody>
				
			</table>
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
		<script>
			$(document).ready(function() {
				$("#productTable").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-1] /* 1st one, start by the right */
    				}]
				});
			})
		</script>
	</body>
	
</html>