<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Bootstrap Upload File</title>

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #33cccc;">
  <a class="navbar-brand" href="/UserHome">[[${session.BranchName}]]</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    
     <li></li>
     
     
     
      <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           [[${session.UserName}]]
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
            <a class="dropdown-item"  th:href="@{/AccountsInfo(UserId=${session.UserId})}">User Info </a>
        	<a class="dropdown-item"  th:href="@{/LogOut}">Logout </a>
         
        </div>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown0" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Parameter Setup
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown0">
          <a class="dropdown-item" th:href="@{/ProductParameterList}">Product Setup</a>
          <a class="dropdown-item" th:href="@{/LedgerParameterList}">General Ledger</a>
          <a class="dropdown-item" th:href="@{/FeesAndChargesList}">Fees & Charges</a>
          <a class="dropdown-item" th:href="@{/ProductLedgerMappingList}">Product Mapping</a>
          <a class="dropdown-item" th:href="@{/erpUserList}">User Setup</a>
          <a class="dropdown-item" th:href="@{/GetBranchList}">Branch Setup</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" th:href="@{/GetSystemConfig}">System Setup</a>
        </div>
      </li>
      
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Entry Page
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
          <a class="dropdown-item"  th:href="@{/AccountsCreationForm}">Accounts Creation</a>
          <a class="dropdown-item" th:href="@{/GetVoucherList}" >Voucher Entry</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" th:href="@{/GetAUthorizedVoucherList}" >Voucher Print</a>
        </div>
      </li>
      
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Authorization
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
          <a class="dropdown-item"  th:href="@{/OnlyAuthorizableList}">Transaction </a>
        </div>
      </li>
      
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Report
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
          <a class="dropdown-item"  th:href="@{/GetAUthorizedVoucherList}">Voucher Print </a>
        </div>
      </li>
      
     
     
    </ul>
    
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    
    
  </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mt-5">

            <div th:if="${message}">
                <h2 th:text="${message}"/>
            </div>

            <form method="POST" enctype="multipart/form-data" action="PostSystemConfig">
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" name="file">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile2" name="file2">
                        <label class="custom-file-label" for="customFile2">Choose file</label>
                    </div>
                </div>

                <button class="btn btn-primary" type="submit">Submit form</button>
            </form>

        </div>
    </div>

</div>
<script th:src="@{assets/custom-file-input/bs-custom-file-input.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


<script>
    bsCustomFileInput.init();
</script>

</body>
</html>