<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		    <title>ULMS @Unit Leave Management System</title>
		<link rel="stylesheet"  type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"  integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"  crossorigin="anonymous" />

	</head>
	
	<body>
		
		<div class="container">
		
			<div class="container my-3 bg-light">
			<h3 class="col-md-12 text-center" >Branch List</h3>
			</div>
			
			<div class="container my-3 bg-light">
		        <div class="col-md-12 text-center">
		           <a th:href="@{/AddBranch}" class="btn btn-primary">Add New Branch</a>
		            <a th:href="@{/UserHome}" class="btn btn-warning">Back Home</a>
		        </div>
		    </div>
			
			
			
			<table class="table table-bordered table-striped" id="productTable">
			
				<thead>
					<tr>
						<th>Branch Code</th>
						<th>Branch Name</th>
						<th>Branch Address</th>
						<th>Branch Mail</th>
						<th>Branch Mobile</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="Branch: ${BranchList}">
						<td th:text="${Branch.BranchCode}" />
						<td th:text="${Branch.BranchName}" />
						<td th:text="${Branch.BranchAddress}" />						
						<td th:text="${Branch.BranchEmail}" />
						<td th:text="${Branch.BranchMobile}" />
																		
						<td>
							<a th:href="@{/showUpdateBranchForm(BranchCode=${Branch.BranchCode})}" class="btn btn-info">View</a>
							
						</td>
					</tr>
				</tbody>
				
			</table>
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
		<script>
			$(document).ready(function() {
				$("#productTable").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-1] /* 1st one, start by the right */
    				}]
				});
			})
		</script>
	</body>
	
</html>